.carousrel-items{
    /* height: 100%;
    width: 85%;
    margin: auto;
    padding : 20px 20px;
    background-color: white; */

}
.ul-items{
    padding: 0px 40px;
    padding-left: 70px;
    padding-right: 0px;
    
}
.ul-items>li{
    padding: 23px 10px;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    list-style: none;
    background-color: white;
    
}
.header-container{
    background-color: #f7f8fa;
}
.carousrel-container{
    padding-left: 0;
}
@media(max-width:425px) {
    .ul-items{
        display: none;
    }
}


@media (max-width: 768px){
.ul-items  {
    margin-left: 0rem!important;
    padding: 0px 3px;
    padding-left: 5px;
    padding-right: 0px;
    
}
}