.redio{
    height: 19px;
    width: 19px;
}
.aws{
    color: goldenrod;
}
.paypal{
    color: rebeccapurple;
}
.ccPaypal{
    color: darkblue;
}
.input-fild{
    border: 0.5px solid red;
    margin: 0;
    padding: 10px 5px;
}